body {
  margin-top: 0;
  padding: 0 4em 5em ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 240, 240);

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.homepage h1 {
  text-align: center;
}

.homeHeading {  
  color: white;
}

header {
  background-color: rgb(63, 81, 181);
  padding: 1em;
  margin: 0 0 3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 1px 15px #888888;
}

.button {
  background-color: #ff4081;
  color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 2px;
  border: 0;
}

.search-container {
  padding-top: 1.5em;
  margin: 0 auto;
  width: 100%;
}

.buttonAdd {
  color: white;
  display: block;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  font-size: 1.5em;
  padding: .8em;
  text-align: center;
  background-color: #ff4081;
  font-weight: bold;
  margin-bottom: -1.5em;
  box-shadow: 0 1px 15px #888888;
}

.buttonAdd:hover {
  scale: 1.2;
}

form .button {
  color: white;
  background-color: transparent;
}

.search-icon:hover {
  cursor: pointer;
}

.search-container input{
  color: white;
  background-color: transparent;
  padding: .9em .3em;
  border: none;
  border-bottom: .1em solid white;
  width: 40%;
}
.search-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container input::placeholder{
  color: white;
}

.search-container input:focus{
  border: none;
  outline: transparent;
  border-bottom: .1em solid rgb(255, 88, 233);
}

.noResultsMsg {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
}

th {
  color: rgb(141, 141, 141);
  
}

td {
  color: rgb(150, 150, 150);
  padding: 1.5em .5em;  
}

tr {
  padding-left: 1em;
  border-bottom: 1em;
  border-width: 1em;
}

tbody tr:hover {
  background-color: rgba(63,81,181,0.2);
}



td a {
  color: rgb(116, 116, 116);
  font-weight: bold;
}


table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.book-title {
  width: 40%;
}

.book-details {
  width: 20%;
}

ul {
  border-top: 1px solid rgb(150, 150, 150);
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  padding-right: 1em;
  padding-top: 1em;
}

.paginationBtn {
  font-weight: bold;
  font-size: 1.3em;
  color: #696969;
}

.edit-form label {
  font-weight: bold;
  padding-right: 2em;
}

.edit-form input {
  border-color: rgb(168, 168, 168);
  color: #3b3b3b;
}

.library-forms input {
  border: none;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 3px;
  width: 25em;
}

.library-forms label {
  font-size: 1em;
  font-weight: bold;
  padding-right: 1em;
}

.library-forms .submit {
  border: none;
}

.library-forms input:focus {
  outline: transparent;
}

.main-form-opt a{
  color: #3b3b3b;
  margin-right: 1.5em;
}

.main-form-opt input{
  width: auto;
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 15px #c5c5c5;
}

.library-forms .submit:hover{
  cursor: pointer;
}

.library-forms .delete-book-btn {
  width: auto;
  background-color: transparent;
}

.library-forms .delete-book-btn:hover {
  cursor: pointer;
}

.error-container{
  color: #ce4545;
  border-bottom: none;
}

.error-container h2 {
  margin-bottom: 0;
}

.error-container ul {
  margin-top: 0;
  border: none;
  display: flex;
  flex-direction: column;
  list-style-type: square;
  padding-left: 1em;
}